fieldset.inputs > legend {
	display: block;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 2px solid #4C4C4C;
	margin-bottom: 4px;
	font-weight: bold;
}

form.formtastic fieldset.inputs > ol > li > label, legend > label { padding-top: 5px; font-weight: bold; }
form.formtastic fieldset.inputs .select label { padding-top: 0px !important; }

form.formtastic fieldset > ol > li.date label { padding-top: 1px; }
form.formtastic fieldset > ol > li.string input {
	width: 70%;
}
form.formtastic .check_boxes li { margin: 0 5px !important; }

fieldset.inputs > ol > li:first-child {
	padding-top: 10px;
}

