<li id="photo_<%= photo.id %>" class="sortable">
	<%= image_tag photo.image.url(:thumb) %>
	<ul>
		<li class="view">
			<%= link_to "Podgląd", photo.image.url(:preview) %>
		</li>
		<li class="delete">
			<%= link_to "Usuń", admin_product_photo_path(@product, photo) %>
		</li>
	</ul>
</li>