<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		products_controller.init();
	});
</script>
<!-- BLOCK START -->
	<div class="block withsidebar">
		<!-- BLOCK HEAD START -->
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			
			<h2>Edycja zdjęć produktu</h2>
			<ul>
				<li><%= link_to 'Wróć', admin_products_path %></li>
			</ul>
		</div>
		<!-- BLOCK HEAD END -->
		
		<!-- BLOCK CONTENT START -->
		<div class="block_content">
			<!-- BLOCK CONTENT SIDEBAR START -->
			<div class="sidebar">
				<ul class="sidemenu">
					<%= sidebar_for_product %>
				</ul>
				<p>Możesz zmieniać kolejność zdjęć. Wystarczy że chwycisz za nią i przeciągniesz jak ikonę na pulpicie.</p>
			</div>
			<!-- BLOCK CONTENT SIDEBAR END -->
			
			<!-- BLOCK CONTENT SIDEBAR CONTENT START -->
			<div class="sidebar_content">
				<ul class="imglist">
					<%= render :partial => "admin/product_photos/photo", :collection => @product_photos %>

					<li class="upload_photo">
						<% form_for Photo.new, :url => admin_product_product_photos_path(@product), :html => { :multipart => true, :id => "new_photo"} do |f| %>
							<%= f.file_field :image %>
						<% end %>
						+
					</li>
				</ul>
			</div>
			<!-- BLOCK CONTENT SIDEBAR CONTENT END -->
			
		</div>
		<!-- BLOCK CONTENT END -->
		
		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>
<!-- BLOCK END -->