<div class="wrapper">

	<div class="content">
		<h2>Zdjęcia produktu</h2>
		<ul class="photos" id="product_photos">
			<%= render :partial => '/admin/product_photos/photo', :collection => @product_photos %>
		</ul>

		<div class="clear"></div>
	</div>

</div>
