<tr class="new_property">
	<td class="name">
		<%= text_field_tag "create_property[][name]", "name", :value => "" %>
	</td>
	<td class="value">
		<%= text_field_tag "create_property[][value]", "value", :value => "" %>
		<a href="#" class="delete">Usuń</a>
	</td>
</tr>