<h1>Listing properties</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= link_to property.name, edit_admin_property_path(property) %></td>
    <td><%= link_to 'Destroy', [:admin, property], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property', new_admin_property_path %>