<h1>Listing option_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @option_types.each do |option_type| %>
  <tr>
    <td><%= link_to option_type.name, edit_admin_option_type_path(option_type) %></td>
    <td><%= link_to 'Destroy', [:admin, option_type], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New option_types', new_admin_option_type_path %>