<p>
  <b>Name:</b>
  <%=h @option_types.name %>
</p>

<p>
  <b>Shop:</b>
  <%=h @option_types.shop_id %>
</p>


<%= link_to 'Edit', edit_option_types_path(@option_types) %> |
<%= link_to 'Back', option_types_path %>